.contact-form {
  max-width: 46rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact-form__title {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 1;
  letter-spacing: -0.03125em;
  margin-bottom: 2rem;
}

.form__row {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

.form__group--message {
  margin-bottom: 2.5rem;
}

.form__legend span,
.form__group label span {
  color: var(--green-600);
  margin-left: 0.5rem;
}

.form__group input,
.form__group textarea {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--grey-500);
  outline: none;
}

.form__group input:hover,
.form__group input:focus,
.form__group textarea:hover,
.form__group textarea:focus {
  border-color: var(--green-600);
}

.form__group input:focus-visible,
.form__group textarea:focus-visible {
  outline: 2px solid var(--green-600);
  outline-offset: 2px;
}

.form__group textarea {
  min-height: 15rem;
}

.form__fieldset {
  margin-bottom: 1.5rem;
}

.form__legend {
  line-height: 1.5;
}

.form__query-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__query-group label {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 1.5px solid var(--grey-500);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: var(--fs-md);
  line-height: 1.5;
}

.form__query-group label:hover {
  border-color: var(--green-600);
  color: var(--green-600);
}

.form__query-group label:has(input:checked) {
  background-color: var(--green-200);
  border-color: var(--green-600);
}

.form__query-group input,
.form__consent input {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--grey-500);
  cursor: pointer;
}

.form__query-group input:focus-visible,
.form__consent input:focus-visible {
  outline: 2px solid var(--green-600);
  outline-offset: 2px;
}

.form__query-group input {
  border-radius: 50%;
  opacity: 50%;
  transition: all 0.2s ease;
}

.form__query-group input:checked,
.form__consent input:checked {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.form__query-group input:checked {
  background-image: url("../assets/images/icon-radio-selected.svg");
  opacity: 100%;
}

.form__consent input:checked {
  background-image: url("../assets/images/icon-checkbox-check.svg");
}

.form__consent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

.form__consent-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form__consent input {
  margin-left: 0.1875rem;
  flex-shrink: 0;
}

.form__consent label span {
  color: var(--grey-500);
}

.form__submit {
  width: 100%;
  border: none;
  background-color: var(--green-600);
  color: var(--white);
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.5;
  cursor: pointer;
}

.form__submit:hover {
  background-color: var(--green-700);
}

/* Error State */
.form__group--error input,
.form__group--error textarea {
  border-color: var(--red);
}

.form__error {
  color: var(--red);
  line-height: 1.5;
}

.form__error--queryType {
  margin-top: 1rem;
}

/* Toast */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.toast {
  position: fixed;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 48px);
  max-width: 450px;
  background-color: var(--grey-900);
  color: var(--white);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: fadeIn 0.3s ease;
}

.toast__header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toast__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

.toast__body {
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

@media (min-width: 48rem) {
  .contact-form {
    padding: 2.5rem;
    box-shadow: none;
  }

  .form__row {
    flex-direction: row;
    gap: 1rem;
  }

  .form__row .form__group {
    flex: 1;
  }

  .form__query-group {
    flex-direction: row;
  }

  .form__query-group label {
    flex: 1;
  }

  .form__group textarea {
    min-height: 8.25rem;
  }
}

@media (min-width: 64rem) {
  .form__group textarea {
    min-height: 6.5625rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .form__query-group input {
    transition: none;
  }

  .toast {
    animation: none;
  }
}
